body {
  font-family: 'Poppins';
  color: #F6F8F7;
  ;
  ;
}

.all-section {
  background-color: #F6F8F7 !important;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #F6F8F7;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins';
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #F6F8F7;
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #FFF;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #000;
  line-height: 0;
}

.back-to-top i:hover {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #000;
  color: #FFF;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
#header {
  background: #F6F8F7;
  ;
  transition: all 0.5s;
  z-index: 997;
  height: 86px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.fixed-top {
  height: 70px;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #222222;
}

#header .logo a span {
  color: #F6F8F7;
}

#header .logo img {
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 70px;
}

.btn-login {
  width: auto;
  height: 40px;
  padding: 13px 30px 13px 30px !important;
  border: 1px solid #000;
  background-color: #fff;
  color: #000 !important;
  border-radius: 6px;
  font-size: 14px !important;
  line-height: 14px !important;
}

.btn-login:hover {
  background-color: #000;
  color: #fff !important;
}

.btn-signup {
  width: auto;
  height: 40px;
  padding: 13px 30px 13px 30px !important;
  border: 1px solid #000;
  background-color: #000;
  color: #fff !important;
  border-radius: 6px;
  margin-left: 10px;
  font-size: 14px !important;
  line-height: 14px !important;
}

.btn-signup:hover {
  background-color: #fff;
  color: #000 !important;
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 14px;
  font-weight: bolder;
  line-height: 0;
  margin-left: 10px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #000;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #000;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 28px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-weight: 400;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #000;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #222222;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #F6F8F7;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #F6F8F7;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

#hero {
  width: 100%;
  height: 295px;
  background: url("../img/hero-banner.png") top left;
  background-size: cover;
  position: relative;
  text-align: center;
}

#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  position: relative;
}

#hero h1 {
  margin: 0;
  font-size: 35px;
  font-weight: 600;
  line-height: 52.5px;
  color: #FFF;
  font-family: "Poppins", sans-serif;
}

#hero h1 span {
  color: #FFF;
}

#hero h2 {
  color: #FFF;

  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
}

.search-section {
  margin-bottom: -56px !important;

}

.search-box {
  width: auto;
  height: 80px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 14px 0px #00000014;
  gap: 15px;
  padding: 15px !important;

}

.search-category-dropdown {
  border-right: 1px solid #D8D8D8;

}

.search-button {
  width: 56px;
  height: 56px;
  padding: 10px;
  background-color: #000;
  border-radius: 6px;
}

.search-input {
  width: 550px;
  height: 60px;
  border: none !important
}

.search-input:active :focus :hover :target :focus-visible {
  border: none !important
}

.search-category-dropdown {
  width: 150px;
  padding: 10px;
  height: 80px;
}

.search-category-dropdown ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.search-category-dropdown li {
  position: relative;
}

.search-category-dropdown>ul>li {
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.search-category-dropdown a,
.search-category-dropdown a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.search-category-dropdown a i,
.search-category-dropdown a:focus i {
  font-size: 14px;
  font-weight: bolder;
  line-height: 0;
  margin-left: 10px;
}

.search-category-dropdown>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #000;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.search-category-dropdown a:hover:before,
.search-category-dropdown li:hover>a:before,
.search-category-dropdown .active:before {
  visibility: visible;
  width: 100%;
}

.search-category-dropdown a:hover,
.search-category-dropdown .active,
.search-category-dropdown .active:focus,
.search-category-dropdown li:hover>a {
  color: #000;
}

.search-category-dropdown .dropdown ul {
  display: block;
  position: absolute;
  left: 28px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.search-category-dropdown .dropdown ul li {
  min-width: 200px;
}

.search-category-dropdown .dropdown ul a {
  padding: 10px 20px;
  font-weight: 400;
}

.search-category-dropdown .dropdown ul a i {
  font-size: 12px;
}

.search-category-dropdown .dropdown ul a:hover,
.search-category-dropdown .dropdown ul .active:hover,
.search-category-dropdown .dropdown ul li:hover>a {
  color: #000;
}

.search-category-dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.search-category-dropdown .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.search-category-dropdown .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: auto;
  }

  .search-input {
    width: auto;
  }

  .search-category-dropdown {
    width: auto;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .btn-get-started,
  #hero .btn-watch-video {
    font-size: 13px;
  }

  .header-button {
    display: none !important;
  }

  .search-section {
    width: 100% !important;
    padding: 10px;
    margin-bottom: 19px !important;
  }

  .search-input {
    width: 100%;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}
section {
  padding: 60px 0px;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f9fe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 50px;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #F6F8F7;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  color: #F6F8F7;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}
.product-card {
  width: 393px !important;
  box-shadow: 0px 0px 30px 0px #00000012;

}

.product-card-img {
  width: 393px;
  height: 333px;
  border-radius: 10px 10px 0 0 !important;
}

.product-card-body {
  border-radius: 0px 0px 10px 10px;
  padding: 20px;

}

.product-card-body .product-price {
  color: #505050 !important;
  font-weight: 500;
  font-size: 14px;
}

.product-card-body .product-price {
  color: #000 !important;
  font-weight: 500;
  font-size: 14px;
}

.product-card-title {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.product-sales {
  color: #000;
  font-size: 12px;

}

.product-card-text {
  margin-bottom: 0px !important;
}

.btn-cart {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #EFEFEF;
  border: none;
}

.btn-live-preview {
  height: 40px;
  border-radius: 6px;
  border: 1px solid #000;
  background-color: #FFF;
  padding: 7px 20px 7px 20px;
  margin-left: 10px;
}

.product-info {
  width: 100% !important;
}

.product-badge-section {
  padding-top: 15px;
  padding-left: 15px;
  position: absolute;
}

.product-badge {
  background-color: #FFF;
  border-radius: 6px;
  color: #000;
  padding: 3px 10px 3px 10px;
}

.feature-icon {
  height: 24px;
  width: 24px;
  border-radius: 4px;
  background-color: #fff;

}

@media (max-width: 768px) {
  .product-card {
    width: auto !important;

  }

  .product-card-img {
    width: 100%;
    height: auto;
  }

  .product-container {
    gap: 20px;
  }
}
.services-container {
  /* gap: 20px; */
}

.services-row-border {
  border-right: 1px solid #D9D9D9;

  z-index: 987;
}

.services-column1 {
  padding-bottom: 30px;
  padding-top: 30px;
}

.services-column2 {
  padding-bottom: 30px;
  padding-top: 30px;
  float: right;
}

.services-column3 {
  padding-bottom: 30px;
  padding-top: 30px;
}

.services-column4 {
  padding-bottom: 30px;
  padding-top: 30px;
  float: right;
}

.services-row-border-bottom {
  border-bottom: 1px solid #D9D9D9;

  z-index: 987;
}

.services-icon {
  width: 48px;
  height: 48px;
  background-color: #000;
  padding: 14px;
  border-radius: 6px;
}

.services-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #000;
  padding-left: 10px;
}

.services-subtitle {
  font-size: 16px;
  line-height: 28.8px;
  font-weight: 400;
  color: #000;

}

@media (max-width: 768px) {
  .services-column4 {
    float: none;
    justify-content: center;
  }

  .services-column2 {
    float: none;
    justify-content: center;
  }

  .services-row-border {
    border: none;
  }

  .services-row-border-bottom {
    border: none;
  }
}
.price {
  width: 100%;

  background: url("../img/price/price-bg.png") top left;
  background-size: cover;
  position: relative;
  text-align: left;
}

.price-card {
  width: 393px;
  box-shadow: 0px 0px 30px 0px #0000000D;
  height: auto;
  border-radius: 15px;
  background-color: #fff;
  padding: 20px;
}

.price-img {
  position: relative;
  overflow: hidden;
  height: 293px;
  padding: 20px;
}

.price-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #000;
}

.price-subtitle {
  font-size: 16px;
  line-height: 28.8px;
  font-weight: 500;
  color: #000;
}

.price-monthly {
  font-size: 16px;
  line-height: 28.8px;
  font-weight: 600;
  color: #000;
}

.price-container {
  padding-bottom: 50px;
}

.section-title-price {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .price-card {
    width: 100%;

  }

  .price-container {
    gap: 20px;
  }
}

.tricks-card {
  width: 288px;
  height: auto;

  background-color: transparent;
  padding: 20px;
  border-radius: 12px;
}

.tricks-img {
  position: relative;
  overflow: hidden;


  border-radius: 12px;
}

.tricks-title {
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
  color: #000;
  padding-top: 10px;
  text-align: justify;
}

.tricks-subtitle {
  font-size: 14px;
  line-height: 25.2px;
  font-weight: 400;
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
}

.tricks-monthly {
  font-size: 16px;
  line-height: 28.8px;
  font-weight: 600;
  color: #000;
}

.tricks-container {
  padding-bottom: 50px;
}

.tricks-title-price {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.read-more-button .a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000;

}

@media (max-width: 768px) {
  .tricks-card {
    width: 100%;
  }
}

.subscription #subscription-flters {
  padding: 0;
  margin: 0 auto 15px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.subscription #subscription-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.subscription #subscription-flters li:hover,
.subscription #subscription-flters li.filter-active {
  color: #F6F8F7;
}

.subscription #subscription-flters li:last-child {
  margin-right: 0;
}

.subscription .subscription-item {
  margin-bottom: 30px;
}

.subscription .subscription-item .subscription-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
}

.subscription .subscription-item .subscription-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #222222;
}

.subscription .subscription-item .subscription-info p {
  color: #555555;
  font-size: 14px;
  margin-bottom: 0;
}

.subscription .subscription-item .subscription-info .preview-link,
.subscription .subscription-item .subscription-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #3c3c3c;
}

.subscription .subscription-item .subscription-info .preview-link:hover,
.subscription .subscription-item .subscription-info .details-link:hover {
  color: #F6F8F7;
}

.subscription .subscription-item .subscription-info .details-link {
  right: 10px;
}

.subscription .subscription-item .subscription-links {
  opacity: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.subscription .subscription-item .subscription-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.subscription .subscription-item .subscription-links a:hover {
  color: #6ba7f5;
}

.subscription .subscription-item:hover .subscription-info {
  opacity: 1;
  bottom: 20px;
}

/*--------------------------------------------------------------
# Subscription
--------------------------------------------------------------*/
.subscription #subscription-flters {
  padding: 0;
  margin: 30px auto 15px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
  background-color: #F6F8F7;
}

.subscription #subscription-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #000;
  margin-right: 10px;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  height: 40px;
  border: 1px solid #DEDEDE;
  border-radius: 54px;
}

.subscription #subscription-flters li:hover,
.subscription #subscription-flters li.filter-active {
  color: #000;
}

.subscription #subscription-flters li:last-child {
  margin-right: 0;
}

.subscription .subscription-item {
  margin-bottom: 30px;
}

.subscription .subscription-item .subscription-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
}

.subscription .subscription-item .subscription-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #222222;
}

.subscription .subscription-item .subscription-info p {
  color: #555555;
  font-size: 14px;
  margin-bottom: 0;
}

.subscription .subscription-item .subscription-info .preview-link,
.subscription .subscription-item .subscription-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #3c3c3c;
}

.subscription .subscription-item .subscription-info .preview-link:hover,
.subscription .subscription-item .subscription-info .details-link:hover {
  color: #F6F8F7;
}

.subscription .subscription-item .subscription-info .details-link {
  right: 10px;
}

.subscription .subscription-item .subscription-links {
  opacity: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.subscription .subscription-item .subscription-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.subscription .subscription-item .subscription-links a:hover {
  color: #6ba7f5;
}

.subscription .subscription-item:hover .subscription-info {
  opacity: 1;
  bottom: 20px;
}

.team {
  padding: 60px 0;
}

.subscription .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 21.9847354888916px 0px #00000012;
  height: 291px;
  width: 288px;
}

.subscription .member-img {
  position: relative;
  overflow: hidden;
  height: 208px;
}

.subscription .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.subscription .member .social a {
  transition: color 0.3s;
  color: #222222;
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: rgba(16, 110, 234, 0.8);
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.subscription .member .social a:hover {
  background: #3b8af2;
}

.subscription .member .social i {
  font-size: 18px;
}

.subscription .member-info {
  padding: 15px 15px;
}

.subscription .member-info h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000;
}

.member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 21.9847354888916px 0px #00000012;
  height: 291px;
  width: 288px;
}

.member-img {
  position: relative;
  overflow: hidden;
  height: 208px;
}

.subscription .member-info .member-button-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscription .member-info .member-button-section .subscription-count {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: #000;
}

.subscription .member-info .member-button-section .view-button a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000;
}

.btn-category {
  width: auto;
  border-radius: 6px;
  padding: 13px 20px 13px 20px;
  border: 1px solid #000000;
  background-color: transparent;
}

.btn-category:hover {
  background-color: #000;
  color: #fff;
}

@media (max-width: 768px) {
  .subscription .member {
    width: 100%;
  }
}

#footer {
  padding: 0 0 0px 0;
  color: #FFF;
  font-size: 14px;
  background: #0F1010;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #0F1010;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 24px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
  color: #fff;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 0;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 28.8px;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 36.4px;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #FFF;
  color: #000;
  line-height: 1;
  padding: 3px 0;
  margin-right: 4px;
  border-radius: 50px;
  text-align: center;
  width: 24px;
  height: 24px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #F6F8F7;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  text-align: center;
  float: left;

}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #444444;
}

.footer-copyright-container {
  border-top: 2px solid #FFFFFF33;

}

.footer-bottom-copyright {
  border-right: 2px solid #FFF;
  padding-right: 20px;
}

.footer-allright {
  border-right: 2px solid #FFF;
  padding-right: 20px;
  padding-left: 20px;
}

.footer-privacy {
  border-right: 2px solid #FFF;
  padding-right: 20px;
  padding-left: 20px;
}

.footer-term {
  padding-left: 20px;
}

@media (max-width: 768px) {
  .footer-bottom-container {
    display: block !important;
  }

  .footer-allright {
    border: none;
    padding-left: 0px;
    padding-top: 20px;
  }

  .footer-privacy {
    border: none;
    padding-left: 0px;
    padding-top: 20px;
  }

  .footer-term {
    border: none;
    padding-left: 0px;
    padding-top: 20px;
  }

  .footer-copyright-container {

    display: block;
  }

  .footer-bottom-copyright {
    border: none;
  }

  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;
    padding: 2px 0;
  }
}